@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --linearGradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%); /*active input border*/

  --inputErrors: hsl(0, 100%, 66%);

  --White: hsl(0, 0%, 100%);

  --lightGray: hsl(270, 3%, 87%);

  --darkGray: hsl(279, 6%, 55%);

  --DarkViolet: hsl(278, 68%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.125rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

main {
  min-width: 23.4375rem;
  width: 100%;
}

.entire-top-wrapper {
  position: relative;
  background-image: url(./images/bg-main-mobile.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 15rem;
}

.back-card {
  position: absolute;
  top: 2rem;
  right: 0.9375rem;
  width: 17.875rem;
}

.cvc {
  position: absolute;
  color: var(--lightGray);
  font-size: 0.6875rem;
  top: 6.3125rem;
  right: 2.9375rem;
}

.front-card {
  width: 17.875rem;
  position: absolute;
  top: 7.5rem;
  transform: translateX(1rem);
}

.two-circles {
  position: relative;
  top: 8.875rem;
  right: -1.875rem;
  width: 3.4375rem;
}

.card-number {
  position: absolute;
  font-size: 1.4375rem;
  top: 12.5rem;
  transform: translateX(2rem);
  color: var(--White);
}

.card-name {
  position: absolute;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  transform: translateX(2.1875rem);
  top: 15.125rem;
  color: var(--lightGray);
}

.expiration-month {
  position: absolute;
  color: var(--lightGray);
  top: 15.125rem;
  font-size: 0.75rem;
  transform: translateX(15.4375rem);
}

.dash {
  position: absolute;
  color: var(--lightGray);
  top: 15.125rem;
  font-size: 0.75rem;
  transform: translateX(16.5625rem);
}

.expiration-year {
  position: absolute;
  color: var(--lightGray);
  top: 15.125rem;
  font-size: 0.75rem;
  transform: translateX(17rem);
}

form {
  padding: 5.625rem 1.4375rem 2.75rem;
  display: flex;
  flex-direction: column;
}

.toggle-display {
  min-height: 28.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

label {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  color: var(--DarkViolet);
  font-weight: 700;
}

input {
  padding-top: 0.625rem;
  padding: 0.9375rem;
  outline: none;
}

.name-input,
.number-input {
  width: 100%;
  border-radius: 0.625rem;
  border: 0.0625rem solid var(--lightGray);
}

.name-input:focus,
.number-input:focus,
.exp-date-input:focus,
.yy-input:focus,
.cvc-input:focus {
  border: 0.0625rem solid hsl(278, 94%, 30%);
}

.name-error,
.name-blank-error,
.number-error,
.number-blank-error,
.number-16-error,
.exp-blank-error,
.number-2-error,
.yy-blank-error,
.number-2-error-yy,
.number-3-error,
.cvc-blank-error {
  color: var(--inputErrors);
  font-size: 0.75rem;
  font-weight: 700;
  padding-left: 0.125rem;
  padding-top: 0.0625rem;
  display: none;
}

.exp-blank-error,
.yy-blank-error,
.cvc-blank-error {
  min-width: 6.875rem;
  padding-left: 0.0625rem;
}

.last-three-inputs {
  display: grid;
  grid-template-columns: 25% 25% 50%;
}

.cardholder-exp-date-wrapper {
  display: flex;
  flex-direction: column;
}

.exp-date-input,
.yy-input,
.cvc-input {
  border-radius: 0.625rem;
  border: 0.0625rem solid var(--lightGray);
}

.exp-date-input,
.yy-input {
  max-width: 95%;
}
.cardholder-issued-date-wrapper {
  display: flex;
  flex-direction: column;
}

.cardholder-cvc-wrapper {
  display: flex;
  flex-direction: column;
}

.submit-button,
.continue-button {
  color: var(--lightGray);
  background-color: var(--DarkViolet);
  border: none;
  border-radius: 0.4375rem;
  padding: 1.25rem 0rem;
  cursor: pointer;
  width: 100%;
}

/* THANK YOU PAGE */
.entire-completed-state {
  min-height: 31.25rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.checkmark {
  width: 5rem;
}

.thank-you {
  color: var(--DarkViolet);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-size: 1.875rem;
  font-weight: 500;
}

.we-added {
  color: var(--darkGray);
}

/* Chrome, Safari, Edge, Opera Arrow Removal*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (width >= 80rem) {
  body {
    min-height: 100%;
    min-width: 100vw;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .entire-top-wrapper {
    position: relative;
    background-image: url(./images/bg-main-desktop.png);
    width: 33%;
    height: 100vh;
  }

  form {
    margin-right: 6.25rem;
    width: 42%;
  }

  .front-card {
    width: 27.8125rem;
    top: 11.5625rem;
    right: -8.4375rem;
  }

  .back-card {
    top: 29.375rem;
    right: -14.0625rem;
    width: 27.8125rem;
  }

  .cvc {
    font-size: 1.0656rem;
    top: 36.1875rem;
    right: -9.375rem;
  }

  .expiration-month,
  .dash,
  .expiration-year {
    top: 24.375rem;
    font-size: 1.1625rem;
    transform: translateX(9.375rem);
  }

  .expiration-month {
    right: 3.75rem;
  }

  .dash {
    right: 3.125rem;
  }

  .expiration-year {
    right: 1.25rem;
  }

  .two-circles {
    position: absolute;
    top: 13.4375rem;
    right: 11.25rem;
    width: 5.3438rem;
  }

  .card-number {
    position: absolute;
    font-size: 2.1313rem;
    top: 19.125rem;
    right: -5.375rem;
  }

  .card-name {
    font-size: 1.1625rem;
    letter-spacing: 0.0969rem;
    top: 24.375rem;
    right: 7.625rem;
  }

  .entire-completed-state {
    position: absolute;
    top: center;
    width: 43.75rem;
    padding: 1.25rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
